body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.webtitel {
  font-family: Impact, Charcoal, sans-serif;
}

.headline {
  font-family: "Courier New", Courier, monospace;
}

header {
  background-color: #ff8800;
}

.navigator {
  background-color: #f44336;
  color: white;
  text-decoration: none;
  padding: 4px;
}

.navigator:hover {
  background-color: #050505;
}

table {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 8px;
  border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #ffa600;
  color: white;
}

#bildtext {
  font-size: 20px;
  font-weight: bold;
}

form {
  width: 25%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #3a3a3a;
}

.newsletterButton {
  font-family: monospace;
  font-weight: bold;
  border-radius: 10px;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.bild {
  width: 100px;
  height: 100px;
  transition: .5s ease;
}

.bild:hover {
  opacity: 0.6;
}

.imageContainer {
  position: relative;
  min-width: 200px;
  width: 30%;
  padding: 5px;
}

.linkButton {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.imageContainer:hover .linkButton {
  opacity: 1; 
}

@media screen and (max-width: 800px) {
  body {
    background-color: bisque;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .flexContainer {
    flex-direction: column;
    align-items: center;
  }

  .imageContainer {
    width: 80%;
  }

  .navigator {
    flex-grow: 1;
  }

  .eingabe {
    width: 80%;
  }

  form {
    width: 80%;
  }
}
